<main>
  {{#if hasProduct}}
    <ul class='cart__item-list'>
      {{#each products}}
        <li class='cart__item'>
          <h1>{{title}}</h1>
          <h2>Quantity: {{cartItem.dataValues.quantity}}</h2>
          <form action='/cart-delete-item' method='post'>
            <input type='hidden' name='productId' value='{{id}}' />
            <button type='submit' class='btn danger'>Delete</button>
          </form>
        </li>
      {{/each}}
    </ul>
    <hr />
    <div class='centered'>
      <form action='/create-order' method='post'>
        <button type='submit' class='btn'>Order Now</button>
      </form>
    </div>

  {{else}}
    <h1>No Product In Cart</h1>
  {{/if}}
</main>