<main>
  {{#if hasOrder}}
    <ul>
      {{#each orders}}
        <li>
          <h1>{{_id}}</h1>
          <ul>
            {{#each items}}
              <li>
                {{title}}
                ({{quantity}})
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <h1>Nothing there!</h1>
  {{/if}}
</main>